* {
    box-sizing: border-box;
}

body {
    --primary-color1: #003B6D;
    --primary-color2: #6699CC;
    --secondary-color1: #676767;
    --secondary-color2: #BDBDBD;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    overflow-wrap: break-word;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

header {
    background-color: white;
}

.banner {
    display: block;
    width: 12vw;
    margin: auto;
    border: 1vw solid white;
    animation: fadeIn 1s;
}

.navbar {
    align-content: center;
    background-color: var(--primary-color1);
}

.page-list {
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 5vw;
    padding: 0;
    list-style: none;
    font-size: clamp(16px, 1.7vw, 6rem);
    color: var(--secondary-color2);
    transition: 0.6s;
}

.page {
    margin: auto 0;
}

.page:hover {
    color: white;
    background-color: var(--primary-color2);
    border-radius: 100%;
    transform: scale(1.2);
    transition: 1s;
}

a {
    text-decoration: none;
    color: var(--secondary-color2);
}

a:hover {
    color: white;
    transform: scale(1.1);
    transition: transform .5s ease;
}

.search {
    width: 10vw;
    font-size: clamp(7px, 1vw, 3vw);
    color: var(--secondary-color1);
    margin: auto 0.5vw auto auto;
    transition: all .04s ease;
}

.search-btn {
    display: flex;
    justify-content: center;
    font-size: xx-small;
    align-items: center;
    position: relative;
    left: -5px;
}

.fa-magnifying-glass{
    font-size: 1.1vw;
    margin: auto;
}

.lower-header {
    display: flex;
    gap: 5px;
    background-color: var(--secondary-color2);
    transition: all .4s ease;
    align-items: center;
}

.breadcrumb {
    color: var(--primary-color1);
    font-size: clamp(10px, 1.1vw, 3rem);
    font-weight: 600;
    padding: 0.3% 1%;
}

.intro{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.main-cat-pic{
    width: 50%;
    padding: 5px;
    object-fit: cover;
    border-radius: 50px 200px 50px 200px;
}

@media (max-width: 500px){
    .main-cat-pic{
        transform: scaley(0.9);
        width: 30%;
    }
}

.title {
    font-size: clamp(6vh);
    text-align: center;
    margin: auto;
    color: var(--primary-color1);
    padding: 5px;
}

.intro-text p{
    font-size: clamp(11px, 1.7vw, 6rem);
    width: 90%;
    margin: auto;
}   

.stage-container{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.stage{
    padding: 10px;
    font-size: 1.6vw;
    /* flex-shrink: 1; */
    border-radius: 20px;
}

.stage h2{
    text-align: center;
    font-size: 2vw;
}


.stage:nth-child(1){
    background-color: #ceefff;
}

.stage:nth-child(2){
    background-color: #87afcc;
}

.stage:nth-child(3){
    background-color: #47729b;
}

.stage:nth-child(4){
    background-color: var(--primary-color1);
}

/* .stage{
    width: 50%;
} */

/* .stage-container{
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
} */

/* section{
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    place-items: center;
    font-size: 4vh;
    color: white;
} */

/* .stage-container section:nth-child(1){
    background-color: green;
} */

/* .stage-container section:nth-child(2){
    background-color: orange;
} */

/* .stage-container section:nth-child(3){
    background-color: red;
} */

/* .stage-container section:nth-child(4){
    background-color: blue;
} */

/* .c {
    display: flex;
    justify-content: center;
} */

/* .stage h2{
    text-align: center;
    font-size: 8vh;
    margin: 10px;
    padding: 2vh;
} */

/* .stage-text{
    width: 80%;
    margin: auto;
} */

/* .mouse-icon{
    height: 50px;
    display: block;
    float: right;
    align-self: center;
    margin-left: auto;
} */

/* .mouse-container{
    float: right;
    overflow: hidden;
    height: 57px;
} */

@media (max-width: 650px){
    .stage-container{
        display: flex;
        flex-direction: column;
    }

    section{
        font-size: 3vw;
    }
}

footer {
    display: flex;
    flex-direction: column;
    border-top: 1vh solid white;
    width: 100%;
    /* position: absolute; */
    /* bottom: 0; */
    color: white;
    background-color: var(--primary-color1);
}

footer ul {
    display: flex;
    flex-direction: row;
    gap: 5vh;
    list-style: none;
    padding: 10px;
    align-self: center;
    margin: 0;
}

footer li{
    font-size: 1.7vh;
}

footer h5{
    font-size: 2vh;
    text-align: center;
    margin: 5px 0;
    
}