* {
    box-sizing: border-box;
}

body {
    --primary-color1: #003B6D;
    --primary-color2: #6699CC;
    --secondary-color1: #676767;
    --secondary-color2: #BDBDBD;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100vw;
    min-height: 100vh;
    scroll-snap-type: y mandatory;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

header {
    background-color: white;
}

.banner {
    display: block;
    width: 12vw;
    margin: auto;
    border: 1vw solid white;
    animation: fadeIn 1s;
}

.navbar {
    align-content: center;
    background-color: var(--primary-color1);
}

.page-list {
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 5vw;
    padding: 0;
    list-style: none;
    margin: 0.5em;
    font-size: max(1.2rem, 2.3vw);
    color: var(--secondary-color2);
    transition: 0.6s;
}

.page {
    margin: auto 0;
}

.page:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

a {
    text-decoration: none;
    color: var(--secondary-color2);
}

a:hover {
    color: white;
}

.search {
    width: 10%;
    height: clamp(1.2rem, 2vw, 1.8rem);
    font-size: clamp(10px, 1vw, 4rem);
    color: var(--secondary-color1);
    margin: auto 0.5vw auto auto;
    transition: all .04s ease;
}

.search-btn {
    display: flex;
    height: clamp(1.2rem, 2vw, 1.8rem);
    position: relative;
    left: -5px;
}

.fa-magnifying-glass {
    margin: auto;
    font-size: 9px;
}

.lower-header {
    display: flex;
    gap: 5px;
    background-color: var(--secondary-color2);
    transition: all .4s ease;
    align-items: center;
}

.breadcrumb {
    color: var(--primary-color1);
    font-size: clamp(10px, 1.1vw, 3rem);
    padding: 0.3% 1%;
}

.breadcrumb a {
    color: var(--primary-color1);
}

.breadcrumb a:hover {
    color: white;
}

.intro {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.main-fish-pic {
    width: 50%;
    padding: 1em;
    object-fit: cover;
    border-radius: 50px 200px 50px 200px;
}

.title {
    font-size: calc(4vw + 1rem);
    text-transform: uppercase;
    text-align: center;
    margin: 0.3em;
    color: var(--primary-color1);
    padding: 5px;
}

.intro-text p {
    font-size: clamp(0.9rem, 1.7vw, 6rem);
    width: 90%;
    margin: auto;
}

.stage-container {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
}

.stage-container::-webkit-scrollbar {
    width: 1em;
    height: 2em;
}

.stage-container::-webkit-scrollbar-track {
    background: #dedede;
    border-radius: 100vw;
    margin-block: 0.5em;
}

.stage-container::-webkit-scrollbar-thumb {
    background: var(--primary-color1);
    border: 0.25em solid var(--primary-color2);
    border-radius: 100vw;
    width: 1em;
}

@media (max-width: 650px) {
    .stage-container {
        display: flex;
        flex-direction: column;
    }
}

.stage {
    padding: 0.7em;
    min-width: 100%;
    font-size: clamp(1rem, 1.6vw, 4rem);
    display: flex;
    margin: 0.2em;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    scroll-snap-align: start;
}

.stage h2 {
    font-size: calc(2.2vw + 1rem);
    text-align: center;
}

.stage:nth-child(1) {
    font-size: clamp(1rem, 1.8vw, 4rem);
    background-color: var(--secondary-color2);
    height: 10%;
}

.stage:nth-child(2) {
    font-size: clamp(1rem, 1.8vw, 4rem);
    background-color: var(--secondary-color1);
}

.stage-text p {
    width: 65ch;
}

.stage-text a {
    text-decoration: underline;
    color: var(--primary-color1);
}

.stage-text a:hover {
    color: white;
    transition: 0.5s;
}

footer {
    margin-top: auto;
    color: white;
    background-color: var(--primary-color1);
}

footer ul {
    display: flex;
    flex-direction: row;
    gap: 8%;
    list-style: none;
    padding: 0.2em;
    place-content: center;
    margin: 0;
}

footer li {
    font-size: calc(0.8vw + 0.5rem);
}

footer h5 {
    font-size: calc(1vw + 0.5rem);
    font-weight: 100;
    text-align: center;
    margin: 0.25em 0;
}